* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
}

.box {
    width: 100px;
    height: 200px;
    background: linear-gradient( to top right, red 20%, blue 80%, green 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .3s;
    transform: rotate(45deg);
    transform: scale(2);
    transform: skewX(40deg);
    transform: rotateX(80deg);
    background-color: rgb(7, 08, 20);
    padding: 15px;
}

.box>:hover p {
    transform: rotateY(-45deg);
    transform: skew(-40deg);
    transform: scale();
    opacity: 5;
}