* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

.Navbar {
    width: 100%;
    height: 70px;
    background: rgba(88, 85, 231, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.link {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;

    background-color: transparent;
    border: none;

}

.NavBtn {
    width: 235px;
    height: 45px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
    line-height: 28px;
    letter-spacing: 0em;
    border: none;
}

.Banner {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: flex-end;
}

.Ban_box {
    width: 46%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.textBaner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Ban_box>b {
    font-size: 37px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;

}

.Ban_box>b>b {
    color: #5855E7;
}

.Ban_box>p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    width: 75%;
    margin: 25px 0;
}

.bannerBtne {
    width: 70%;
    display: flex;
    justify-content: space-between;

}

.bannerBtne>button {
    width: 180px;
    height: 44px;
    border-radius: 10px;
    border: none;

    font-size: 17px;
    line-height: 42px;
    letter-spacing: 0em;
}

.bannerBtne>button:first-child {
    background: rgba(99, 71, 235, 1);
    color: #fff;
}

.bannerBtne>button:last-child {
    border: 3px solid rgba(99, 71, 235, 1);

}

.Ban_box>img {
    position: absolute;
    right: -30px;
    bottom: -170px;
}



/* --------------------------------- */

.section-1 {
    width: 100%;
    height: 500px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.section_box {
    width: 350px;
    height: 350px;

}

.section_box2 {
    width: 400px;

}

.section_box>img {
    width: 100%;
    height: 100%;
}

.section_box>b {
    font-size: 25px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;

}

.section_box>p {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}


/* ------------------section-2--------------- */

.section-2 {
    width: 100%;
    height: 750px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: blue;
}

.section-2>b {
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);

}

.section-2_box {
    width: 80%;
    height: 650px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.section-2_Card {
    width: 240px;
    height: 300px;

    margin: 0 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imgBox {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: blue;
    border: 5px solid white;
    overflow: hidden;
}

.imgBox>img {
    width: 100%;
    height: 100%;
}

.section-2_Card>b {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 10px;
    color: #fff;
    color: rgba(255, 255, 255, 1);

}

.section-2_Card>p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 15px;
    color: rgba(255, 255, 255, 1);
}

/* ------------------section-3--------------- */


.section-3 {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center
}

.titleBox {
    width: 400px;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleBox>h1 {
    font-size: 86px;
    font-weight: 700;
    line-height: 119px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(167, 167, 167, 0.475);
    position: absolute;
    top: 5px;
    left: 35px;
}

.titleBox>b {
    margin-top: 50px;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    z-index: 2;
}

/* ============================================================ */

.table {
    width: 1320px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    flex-wrap: wrap;
}

.box>img {
    border-radius: 20px;
    background-color: red;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sinf>img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

b {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.box1 {
    width: 300px;
    height: 600px;
    padding: 20px;
    background-color: blue;
    margin: 25px;
}

.box1>p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 5px;
    text-transform: uppercase;
}

.box2 {
    width: 300px;
    height: 600px;
    padding: 20px;
    background-color: blue;
    margin: 25px;
}

.box2>p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 5px;
    text-transform: uppercase;
}

.box3 {
    width: 300px;
    height: 600px;
    background-color: blue;
    margin: 25px;
    padding: 20px;
}

.box3>p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 5px;
    text-transform: uppercase;
}

.box4 {
    width: 300px;
    height: 550px;
    background-color: blue;
    margin: 25px;
    padding: 20px;
}

.box4>p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 5px;
    text-transform: uppercase;
}

.box5 {
    width: 300px;
    height: 550px;
    padding: 20px;
    margin: 25px;
    background-color: blue;
}

.box5>p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 5px;
    text-transform: uppercase;
}

/* ========================================================== */

.win {
    width: 90%;
    height: 550px;
    background-color: #5855E7;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 150px;
    padding: 50px;
}

.win-1 {
    width: 1;
}

.win-1>img  {
    background-color: #5855E7;
    display: flex;
    justify-content: space-between;
}

hr {
    width: 300px;
    height: 270px;
}

.win-2 {
    width: 1;
}

.line {
    width: 1200px;
    height: 100px;
}