* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.container {
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.box {
    width: 150px;
    height: 150px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadov {
    color: wheat;
}